@font-face
  font-family: 'iconfont'
  src: url('../fonts/iconfont.eot?t=1501750683697')
  src: url('../fonts/iconfont.eot?t=1501750683697#iefix') format('embedded-opentype'),
        url('../fonts/iconfont.woff?t=1501750683697') format('woff'),
        url('../fonts/iconfont.ttf?t=1501750683697') format('truetype'),
        url('../fonts/iconfont.svg?t=1501750683697#iconfont') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family:'iconfont' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-pic:before
  content: "\e64e"
  
.icon-video:before
  content: "\e606"
  
.icon-template:before
  content: "\e957"
  
.icon-save:before
  content: "\e62a"
  
.icon-setting:before
  content: "\e676"
  
.icon-delete:before
  content: "\e621"

.icon-back:before
  content: "\e609"
  
.icon-publish:before
  content: "\e62f"
  
.icon-pause:before
  content: "\e608"
  
.icon-music:before
  content: "\e618"
  
.icon-shape:before
  content: "\e75a"
  
.icon-refresh:before
  content: "\e9ba"
  
.icon-arrow-up2:before
  content: "\e60d"
  
.icon-caret-down:before
  content: "\e600"
  
.icon-preview:before
  content: "\e738"
  
.icon-upload:before
  content: "\e626"
  
.icon-add:before
  content: "\e633"
  
.icon-copy:before
  content: "\e652"
  
.icon-playing:before
  content: "\e639"
  
.icon-list:before
  content: "\e63d"
  
.icon-palette:before
  content: "\e61d"
  
.icon-close:before
  content: "\e607"
  
.icon-arrow-left:before
  content: "\e9bb"
  
.icon-arrow-right:before
  content: "\e9bc"
  
.icon-arrow-down2:before
  content: "\e9bd"
  
.icon-caret-right:before
  content: "\e9be"
  
.icon-text:before
  content: "\e9bf"

.icon-component:before
  content: "\e8bc"
  
