no-wrap()
	text-overflow:ellipsis
	overflow:hidden
	white-space:nowrap

extend-click()
	position:relative
	&:before
		content:""
		position:absolute
		top:-6px
		left:-6px
		bottom:-6px
		right:-6px

extend-click2()
	position:relative
	&:before
		content:""
		position:absolute
		top:-20px
		left:-10px
		bottom:-5px
		right:-10px