// 颜色定义规范
$color-background = #424242
$color-background-l = #313131
$color-background-ll = #414141
$color-background-lll = #515151
$color-background-d = rgba(0, 0, 0, .3)
$color-shadow = rgba(0, 0, 0, .1)
$color-top-background = #000
$color-panel-background = #212121
$color-dialog-background = #292929
$color-theme = #FE695D
$color-theme-d = rgba(254, 105, 93, .5)

$color-text = #fff
$color-text-d = rgba(255, 255, 255, .3)
$color-text-l = rgba(255, 255, 255, .5)
$color-text-ll = rgba(255, 255, 255, .8)

// 字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
$font-size-max = 30px

// $color-background-lll = #313131
// $color-background-llll = #414141
// $color-background-lllll = #424242
// $color-background-llllll = #666666

